
*{
    padding: 0px;
    margin: 0px;
    font-family:Tahoma, arial, sans-serif;
}

#conteiner-principal{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

body{
    background-color: white;
}



nav{
    background-color: rgb(22, 31, 42);
    height: 55px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

nav ul{
    text-align: right;
}

ul li{
    display: inline-block;
    color: #425564;
    display: absolute;
    position: relative;
    bottom: 20px;
    margin-right: 20px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
    
}

.img-logo{
    position: relative;
    left: 19px;
    bottom: 10px;
}

ul li:hover{
    color: white;
    transition: 2s;
}

.img-top{
    width: 100%;
}


/*até aqui estilização do header*/

main{
    padding-top: 70px;
    
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.first-section{
    margin-bottom: 100px;
}

section > .p1{
    line-height: 28px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}

.conteiner-cards{
    width: 80%;
    margin: auto;
    overflow: auto;
}

.div-card{
    width: 31%;
    float: right;
}

.div-card img{
    width: 80%;
    display: block;
    margin: 0px;
}

h4{
    color: rgb(111, 107, 105);
    padding: 10px;
    text-indent: 15%;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.div-card p{
    text-indent: 15%;
    font-size: 12px;
    color: rgb(145, 145, 145);
}

.section-blue{
    
    margin: auto;
    height: 680px;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    padding: 60px 0px 0px 60px;
    background-position: right bottom;
    background-color: rgb(0, 61, 82); 
    
}

h2{
    color: white;
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
}

.section-blue p{
    color: white;
    text-align: left;
    width: 70%;
    line-height: 30px;
}

.section3 h2{
    text-align: center;
    color:rgb(35, 72, 93);
    font-weight: bolder;
    font-size: 36px;
    margin: 40px 0px;
}

iframe{
    position: relative;
    height: 600px;
    width: 100%;
    margin-bottom: 50px;
}

footer{
    background-color: rgb(14, 22, 32);
    color: rgb(50, 91, 134);
    text-shadow: 1px 1px black;
    height: 50px;
    text-align: center;
}

footer p{
    position: relative;
    top: 15px
}